/* BODY-STYLE */
body {
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

/* HEADER SECTION */
/** Header **/
.my-container-fluid {
    min-height: 50px;
    border: 2px solid blue;
}
.my-header-row .my-logo, .my-header-row .my-nav-menu {
    min-height: 50px;
    border: 2px dashed lightskyblue;
    line-height: 50px;
    text-align: left;
    color: lightskyblue;
}
.my-header-row .my-nav-menu {
    text-align: right;
}
/** Spotlight **/
.my-row-spotlight {
    min-height: 250px;
    border: 2px solid darkorange;
}

.my-row-spotlight .my-col-spotlight {
    min-height: 250px;
    border: 2px dashed goldenrod;
    color: goldenrod;
    line-height: 250px;
}

/* MAIN SECTION */
/** Section - "portfolio" **/
.my-main-row {
    border: 2px solid darkmagenta;
    flex-direction: column;
    color:palevioletred;
}
.my-title-main {
    min-height: 80px;
    line-height: 80px;
}
.my-main-col {
    min-height: 140px;
    border: 2px dashed palevioletred;
    line-height: 140px;
}
/** Section - "about" **/
.my-about-row {
    flex-direction: column;
    border: 2px solid green;
    color: limegreen;
}
.my-about-title-row {
    min-height: 80px;
    line-height: 80px;
}
.my-about-col {
    border: 2px dashed limegreen;
    min-height: 200px;
} 
.my-about-download {
    min-height: 50px;
    line-height: 50px;
}
/** Section - "form" **/
.my-form-row {
    border: 2px solid darkslategray;
    flex-direction: column;
    color: grey;
}
.my-title-form {
    min-height: 80px;
    line-height: 80px;
}
.my-form-col {
    min-height: 400px;
    border: 2px dashed gray;
}
