/* UTILITY */
.bg-blue {
    background-color: #2c3e50;
}
.bg-light-green {
    background-color: #1abc9c;
}
.text-blue {
    color: #2c3e50;
}
/* HEADER SECTION */
/** Header **/
#nav-section .navbar-brand, #nav-section .nav-link, #nav-section .navbar-toggler {
    color: #fff;
    border-color: #fff;
}
.navbar-toggler-icon {
    filter: invert(1);
}
/** Spotlight **/
#spotlight img {
    height: 200px;
}
.star::before, .star::after {
    content: "";
    width: 100px;
    height: 2px;
    display: inline-block;
    background-color: #fff;
    border-radius: 1px;
    line-height: 4px;
    vertical-align: middle;
}

/* MAIN SECTION */
/** Section - "portfolio" **/ 
#portfolio .star::before, #portfolio .star::after {
    background-color: #2c3e50;
}
#portfolio img {
    max-width: 100%;
}

/** Section - "about" **/
#about button {
    color: #fff;
    border-color: #fff;
}
#about button:hover {
    background-color: #3a546d;
}

/** Section - "form" **/
#form .star::before, #form .star::after {
    background-color: #2c3e50;
}
#form button {
    background-color: #1abc9c;
    border-color: #1abc9c;
}
#form .form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid lightgrey;
}
/* FOOTER SECTION */
/** Section - "info" **/
.my-info-row {
    border: 2px solid red;
}
.my-info-col {
    min-height: 150px;
    border: 2px dashed darkred;
}
/** Section - "copyright" **/

.my-copyright {
    min-height: 100px;
    border: 2px dashed darkviolet;
}
